{% load static %}
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="home.html"><h2>Stand Blog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'home:home' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'Article List' %} active  {% endif %}">
                        <a class="nav-link" href="{% url 'Maqalat:Article List' %}">Article List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Post Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Maqalat:contact_us' %}">Contact Us</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <div class="d-flex">
                                {% if request.user.firt_name %}
                                    <img src="{{ user.profile.image.url }}" width="25px" height="25px"
                                         style="border-radius: 100%">

                                    <a class="nav-link" href="">{{ request.user.first_name }}</a>
                                {% else %}
                                    <img src="{{ user.profile.image.url }}" width="25px" height="25px"
                                         style="border-radius: 100%">
                                    <a class="nav-link" href=' '>{{ request.user.username }}</a>

                                {% endif %}
                                <a class="nav-link" href=' {% url "account:logout" %} '>logout</a>

                            </div>
                        {% else %}
                            <div class="d-flex">
                                <a class="nav-link" href=' {% url "account:login" %} '>login</a><span
                                    class="mt-2">/</span>
                                <a class="nav-link" href='{% url 'account:register' %} '>register</a>
                            </div>

                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
